openapi: 3.0.3
info:
  title: TripX Product API
  version: 1.0.0
  description: |
    The TripX Product API for managing travel and insurance products.

    ## Authentication

    All API requests require authentication using an API key.
  contact:
    name: TripX API Support
    email: api-support@tripx.com
servers:
  - url: https://tripx-product-api.prd.aks.manulife.ca
    description: UAT Environment
tags:
  - name: Products
    description: Product catalog management
security:
  - BearerAuth: []
paths:
  /products:
    get:
      summary: GET /products
      operationId: listProducts
      tags:
        - Products
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
      description: Retrieve a list of all available insurance products in the catalog
    post:
      summary: POST /products
      operationId: createProduct
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      description: Add a new insurance product to the catalog
  /products/{productId}:
    get:
      summary: GET /products/{productId}
      operationId: getProduct
      tags:
        - Products
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      description: Retrieve detailed information about a specific product by its ID
    put:
      summary: PUT /products/{productId}
      operationId: updateProduct
      tags:
        - Products
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequest'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      description: Update an existing product's information in the catalog
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        price:
          type: number
        currency:
          type: string
    ProductRequest:
      type: object
      required:
        - name
        - category
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        price:
          type: number
