openapi: 3.0.3
info:
  title: TripX Policy API
  version: 1.0.0
  description: |
    The TripX Policy API for managing insurance policies and policy-related operations.

    ## Authentication

    All API requests require authentication using an API key. Include your API key in the 
    `Authorization` header:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```
  contact:
    name: TripX API Support
    email: api-support@tripx.com
    url: https://docs.tripx.com
servers:
  - url: https://tripx-policy-api.prd.aks.manulife.ca
    description: UAT Environment
tags:
  - name: Policies
    description: Policy management operations
security:
  - BearerAuth: []
paths:
  /policies:
    get:
      summary: GET /policies
      description: Retrieve a list of all policies.
      operationId: listPolicies
      tags:
        - Policies
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Policy'
                  total:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: POST /policies
      description: Create a new insurance policy.
      operationId: createPolicy
      tags:
        - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyRequest'
      responses:
        '201':
          description: Policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
  /policies/{policyId}:
    get:
      summary: GET /policies/{policyId}
      description: Retrieve details of a specific policy.
      operationId: getPolicy
      tags:
        - Policies
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '404':
          description: Policy not found
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Policy:
      type: object
      properties:
        id:
          type: string
          example: policy_abc123
        policyNumber:
          type: string
          example: POL-2025-001
        status:
          type: string
          enum:
            - active
            - expired
            - cancelled
        createdAt:
          type: string
          format: date-time
    PolicyRequest:
      type: object
      required:
        - policyType
      properties:
        policyType:
          type: string
          example: travel_insurance
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
