openapi: 3.0.0
info:
  title: Distribution API
  description: Travel Insurance Distribution API
  version: '1.0'
  contact: {}
servers:
  - url: https://api.prod.apim.manulife.io/int/cdt/iic/travel/tripxdistribution/api/prod
    description: UAT Environment
paths:
  /api/distribution/agents:
    get:
      description: Search by case insensitive query parameters and return new agent information
      operationId: DistributionController_findOne
      parameters:
        - name: x-user-type
          in: header
          description: User type
          schema:
            type: string
            enum:
              - lanid
              - ciamid
              - apiUser
              - apim
              - apiWeblink
              - mockApiToken
        - name: x-trip-auth
          in: header
          description: Access Token
          schema:
            type: string
        - name: x-user-ref
          in: header
          description: 'User reference to authorization system: UUID (v4)'
          required: true
          schema:
            type: string
        - name: referenceNumber
          required: true
          in: query
          schema:
            type: string
        - name: lastName
          required: true
          in: query
          schema:
            type: string
        - name: email
          required: true
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentPayloadDto'
      summary: GET /agents
      tags:
        - distribution
  /api/distribution/activateProfile:
    patch:
      operationId: DistributionController_activateProfile
      parameters:
        - name: x-user-type
          in: header
          description: User type
          schema:
            type: string
            enum:
              - lanid
              - ciamid
              - apiUser
              - apim
              - apiWeblink
              - mockApiToken
        - name: x-trip-auth
          in: header
          description: Access Token
          schema:
            type: string
        - name: x-user-ref
          in: header
          description: 'User reference to authorization system: UUID (v4)'
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateProfileDto'
      responses:
        '200':
          description: Search and update profile documents
          content:
            application/json:
              schema:
                type: string
      tags:
        - distribution
      summary: PATCH /activateProfile
      description: Activates a new agent profile by updating their status in the system
  /health:
    get:
      operationId: HealthController_getHealth
      parameters: []
      responses:
        '200':
          description: Health Check Endpoint
      tags:
        - distribution
      summary: GET /health
      description: Returns the health status of the Distribution API service
components:
  schemas:
    ContentPayloadDto:
      type: object
      properties:
        organizationCode:
          type: string
          example: Org1
          description: Organization Code
        salesChannel:
          type: string
          example: Org1-Agent1
          description: sales channel
        lang:
          type: string
          enum:
            - EN
            - FR
          description: Language
      required:
        - organizationCode
        - salesChannel
        - lang
    organization_types_Organization:
      type: object
      properties: {}
    AgentPayloadDto:
      type: object
      properties:
        firstName:
          type: string
          example: John
          description: First Name
        lastName:
          type: string
          example: Doe
          description: Last Name
        phone:
          type: string
          example: 111-222-3333
          description: Phone Number
        email:
          type: string
          example: john_doe@manulife.ca
          description: Email
        language:
          type: string
          enum:
            - EN
            - FR
        country:
          type: string
          enum:
            - CA
        province:
          type: string
          enum:
            - 'ON'
            - QC
            - NS
            - NB
            - MB
            - BC
            - PE
            - SK
            - AB
            - NL
            - YT
            - NT
            - NU
        postalCode:
          type: string
          example: 1W1 2W2
          description: Postal Code
        addressLine1:
          type: string
          example: 123 Street
          description: Address 1
        addressLine2:
          type: string
          example: 1W1 2W2
          description: Address 2
        city:
          type: string
          example: 123 Street
          description: City
      required:
        - firstName
        - lastName
        - phone
        - email
        - language
        - country
        - province
        - postalCode
        - addressLine1
        - city
    profile_types_Profile:
      type: object
      properties: {}
    OrgSearchReportsDto:
      type: object
      properties:
        code:
          type: string
          example: TC
          description: org code
        category:
          type: string
          example: AGENCY
          description: org category
      required:
        - code
        - category
    UpdateOrganizationPayloadDto:
      type: object
      properties:
        businessType:
          type: string
          example: AGENCY
          description: Business Type
        organizationName:
          type: string
          example: Coverme
          description: Organization Name
        organizationNameInFrench:
          type: string
          example: CovermeFR
          description: Organization Name In FR
        status:
          type: string
          example: ACTIVE
          description: Status
          enum:
            - ACTIVE
            - INACTIVE
            - CLOSED
            - PROSPECT
            - SUSPENDED
        paymentGateway:
          type: string
          example:
            - MONERIS
          enum:
            - MONERIS
            - ORGANIZATION
        rootOrganizationCode:
          type: string
          example: CM
          description: RootOrganizationCode
        parentOrganizationCode:
          type: string
          example: CM
          description: ParentOrganizationCode
        affiliationCode:
          type: string
          example: WJET
          description: AffiliationCode
        policyPrefix:
          type: string
          example: CMX
          description: PolicyPrefix
        defaultServiceAccount:
          type: string
          example: John
          description: First Name
        BDM:
          type: string
          example: John
          description: BDM
        updatedBy:
          type: string
          example: John Doe
          description: Updated By
        updatedAt:
          format: date-time
          type: string
          example: '2022-01-01T00:00:00.000Z'
          description: Updated At
        changeHistory:
          example: '[{}]'
          description: ChangeHistory
          type: array
          items:
            type: string
        contract:
          example: '[{}]'
          description: Contract
          type: array
          items:
            type: string
        contacts:
          example: '[{}]'
          description: Contacts
          type: array
          items:
            type: string
      required:
        - organizationName
        - organizationNameInFrench
        - status
        - paymentGateway
        - rootOrganizationCode
        - parentOrganizationCode
        - affiliationCode
        - policyPrefix
        - defaultServiceAccount
        - BDM
        - updatedBy
        - updatedAt
        - changeHistory
        - contract
        - contacts
    AdvisorDetailsDto:
      type: object
      properties:
        CounselorID:
          type: string
          example: ON2688
          description: Counselor ID
        Language:
          type: string
          example: EN
          description: Language code
          enum:
            - EN
            - FR
        LastName:
          type: string
          example: Smith
          description: Last name of the advisor
        FirstName:
          type: string
          example: John
          description: First name of the advisor
        AddressLine1:
          type: string
          example: ATT SANDRINE DORGERVILLE
          description: Address line 1
        AddressLine2:
          type: string
          example: 3448 STANLEY
          description: Address line 2
        AddressLine3:
          type: string
          example: MONTREAL, QC
          description: Address line 3
        AddressLine4:
          type: string
          example: ''
          description: Address line 4
        PostalCode:
          type: string
          example: H3A1R8
          description: Postal code
        PhoneNumber:
          type: string
          example: '5243157337'
          description: Phone number
        Cellular:
          type: string
          example: '5143234567'
          description: Cellular phone number
        Status:
          type: string
          example: ACTIVE
          description: Status of the advisor
        Agreement2StartDate:
          type: string
          example: '2009-11-01T00:00:00.000Z'
          description: Agreement 2 start date
        Agreement2EndDate:
          type: string
          example: '1899-12-31T00:00:00.000Z'
          description: Agreement 2 end date
        Email:
          type: string
          example: DVANASSE@GMAIL.CA
          description: Email address
        OrganizationCode:
          type: string
          example: ORG001
          description: Organization code
          nullable: true
        MGACode:
          type: string
          example: OMTA01
          description: MGA code
        City:
          type: string
          example: MONTREAL
          description: City
        Province:
          type: string
          example: QC
          description: Province
      required:
        - CounselorID
        - Language
        - LastName
        - FirstName
        - AddressLine1
        - AddressLine2
        - AddressLine3
        - AddressLine4
        - PostalCode
        - PhoneNumber
        - Cellular
        - Status
        - Agreement2StartDate
        - Agreement2EndDate
        - Email
        - OrganizationCode
        - MGACode
        - City
        - Province
    AdvisorResponseDto:
      type: object
      properties:
        source:
          type: string
          example: LH
          description: Source system where advisor was found
          enum:
            - TRIPX
            - LH
        data:
          description: Advisor data from the source system
          allOf:
            - $ref: '#/components/schemas/AdvisorDetailsDto'
      required:
        - source
        - data
    SearchObjectLicenseDto:
      type: object
      properties:
        licensedProvince:
          type: string
          example: BC
        licenseNumber:
          type: string
          example: ON989233
        status:
          type: string
          example: AUTHORIZED
        effectiveDate:
          format: date-time
          type: string
          example: '2022-08-01T00:00:00.000+00:00'
        expiredDate:
          format: date-time
          type: string
          example: '2022-02-01T00:00:00.000+00:00'
        id:
          type: number
          example: 1
        screeningStatus:
          type: string
          example: NA
        legalName:
          type: string
          example: Legal1
        screeningEffectiveDate:
          format: date-time
          type: string
          example: '2022-04-01T00:00:00.000+00:00'
      required:
        - licensedProvince
        - licenseNumber
        - status
        - effectiveDate
        - expiredDate
        - id
        - screeningStatus
        - legalName
        - screeningEffectiveDate
    SearchOrganizationWithLicenseDto:
      type: object
      properties:
        code:
          type: string
          example: code
        organizationName:
          type: string
          example: organizationName
        email:
          type: string
          example: abc@xyz.com
        license:
          $ref: '#/components/schemas/SearchObjectLicenseDto'
      required:
        - code
        - organizationName
        - email
        - license
    SearchProfileWithLicenseDto:
      type: object
      properties:
        employmentType:
          type: string
          example: employment_Type
        title:
          type: string
          example: title
        role:
          type: string
          example: role
        firstName:
          type: string
          example: firstName
        lastName:
          type: string
          example: lastName
        language:
          type: string
          example: language
        city:
          type: string
          example: city
        province:
          type: string
          example: province
        country:
          type: string
          example: country
        email:
          type: string
          example: email
        license:
          $ref: '#/components/schemas/SearchObjectLicenseDto'
      required:
        - employmentType
        - title
        - role
        - firstName
        - lastName
        - language
        - city
        - province
        - country
        - email
        - license
    CreateProfilePayloadDto:
      type: object
      properties:
        profileRef:
          type: string
          example: jdoe123
          description: Profile Ref
        role:
          type: string
          example: Consultant_Own
          description: User group role
        status:
          type: string
          example: NEW
          description: Status
          enum:
            - NEW
            - ACTIVE
            - INACTIVE
        firstName:
          type: string
          example: Vikki
          description: First name
        lastName:
          type: string
          example: Test
          description: Last name
        language:
          type: string
          example: EN
          description: Language preference
          enum:
            - EN
            - FR
        city:
          type: string
          example: Toronto
          description: City
        province:
          type: string
          example: 'ON'
          description: Province
          enum:
            - 'ON'
            - QC
            - NS
            - NB
            - MB
            - BC
            - PE
            - SK
            - AB
            - NL
            - YT
            - NT
            - NU
        country:
          type: string
          example: CA
          description: Country
        email:
          type: string
          example: minhong_chen@manulife.ca
          description: Email address
        salesChannel:
          type: string
          example: B2B
          description: Sales Channel
          enum:
            - B2B
            - B2C
            - B2B_API
            - B2C_API
        authType:
          type: string
          example: CIAM
          enum:
            - CIAM
            - APIGEE
            - LANID
            - SYSTEM
            - APIM
            - null
            - 'NULL'
          description: Authentication Type
        authID:
          type: string
          example: jdoe
          description: Authentication ID
        apID:
          type: string
          example: AP11223
          description: Advisor Portal ID
        sellerCode:
          type: string
          example: TC01
          description: Seller Code
        createdAt:
          format: date-time
          type: string
          example: '2024-01-01T00:00:00.000Z'
          description: Created At
        addressLine1:
          type: string
          example: 123 Main Street
          description: Address line 1
        addressLine2:
          type: string
          example: Suite 456
          description: Address line 2
        postalCode:
          type: string
          example: 1W1 2W2
          description: Postal Code
        agencyLicenseAllowList:
          example: '[]'
          description: Agency License Allow List
          type: array
          items:
            type: string
        profileType:
          type: string
          example: ADMIN
          description: Profile Type
          enum:
            - AGENT
            - ADVISOR
            - LIA
            - SERVICE
            - INTERNAL
            - ADVISOR_UNLICENSED
        employmentType:
          type: string
          example: FULL_TIME
          description: Employment Type
          enum:
            - LIA
            - REGULAR
            - INDCONTRACTOR
            - NOT_APPLICABLE
            - CONTRACTOR
        organizations:
          description: Organizations
          type: array
          items:
            type: string
        phone:
          type: string
          example: 905-222-3333
          description: Phone Number
        commission:
          type: object
          example: '{}'
          description: Commission
        licenses:
          example: '[{}]'
          description: Licenses
          type: array
          items:
            type: string
        updatedBy:
          type: string
          example: John Doe
          description: Updated By
        referenceNumber:
          type: string
          example: 88099f020c
          description: Reference number
        profileCode:
          type: string
          example: jdoe
          description: Profile Code
        title:
          type: string
          example: Independent Contractor
          enum:
            - Owner/President
            - Manager/Regional Manager
            - Accounting Contact
            - Travel Agent
            - Travel Agent Lite
            - Independent Contractor
            - Not Applicable
          description: Title
        dob:
          format: date-time
          type: string
          example: '2020-01-01T00:00:00.000Z'
          description: Date of Birth
        createdBy:
          type: string
          example: cheminh_ciam
          description: Created by user
      required:
        - profileRef
        - role
        - status
        - firstName
        - lastName
        - language
        - city
        - province
        - country
        - email
        - salesChannel
        - authType
        - authID
        - apID
        - sellerCode
        - createdAt
        - addressLine1
        - postalCode
        - agencyLicenseAllowList
        - profileType
        - employmentType
        - organizations
        - phone
        - commission
        - licenses
        - updatedBy
        - referenceNumber
        - profileCode
        - title
        - dob
        - createdBy
    OrganizationAssignmentDto:
      type: object
      properties:
        organizationCode:
          type: string
          example: HVTTOR
          description: Organization code
        default:
          type: boolean
          example: true
          description: Is this the default organization
        salesEnabled:
          type: boolean
          example: true
          description: Organization is sales enabled
        partyId:
          type: string
          example: '1234'
          description: Id for DSS Advisors
        counselorCode:
          type: string
          example: ON1111
          description: Counselor code for non DSS
      required:
        - organizationCode
        - default
        - salesEnabled
        - partyId
        - counselorCode
    CreateAdvisorProfileDto:
      type: object
      properties:
        profileRef:
          type: string
          example: jdoe123
          description: Profile Ref
        role:
          type: string
          example: Advisor_MA
          description: User group role
          enum:
            - Advisor_Own
            - Affinity_MGA_Owner
            - Advisor_MGA_Admin
            - Advisor_Admin
            - Advisor_MA
        status:
          type: string
          example: NEW
          description: Status
          enum:
            - NEW
            - ACTIVE
            - INACTIVE
        firstName:
          type: string
          example: Vikki
          description: First name
        lastName:
          type: string
          example: Test
          description: Last name
        language:
          type: string
          example: EN
          description: Language preference
          enum:
            - EN
            - FR
        city:
          type: string
          example: Toronto
          description: City
        province:
          type: string
          example: 'ON'
          description: Province
          enum:
            - 'ON'
            - QC
            - NS
            - NB
            - MB
            - BC
            - PE
            - SK
            - AB
            - NL
            - YT
            - NT
            - NU
        country:
          type: string
          example: CA
          description: Country
        email:
          type: string
          example: minhong_chen@manulife.ca
          description: Email address
        salesChannel:
          type: string
          example: B2B
          description: Sales Channel
          enum:
            - B2B
            - B2C
            - B2B_API
            - B2C_API
        authType:
          type: string
          example: CIAM
          enum:
            - CIAM
            - APIGEE
            - LANID
            - SYSTEM
            - APIM
            - null
            - 'NULL'
          description: Authentication Type
        authID:
          type: string
          example: jdoe
          description: Authentication ID
        apID:
          type: string
          example: AP11223
          description: Advisor Portal ID
        sellerCode:
          type: string
          example: TC01
          description: Seller Code
        createdAt:
          format: date-time
          type: string
          example: '2024-01-01T00:00:00.000Z'
          description: Created At
        addressLine1:
          type: string
          example: 123 Main Street
          description: Address line 1
        addressLine2:
          type: string
          example: Suite 456
          description: Address line 2
        postalCode:
          type: string
          example: M5V3A8
          description: Postal code
        agencyLicenseAllowList:
          example: '[]'
          description: Agency License Allow List
          type: array
          items:
            type: string
        referenceNumber:
          type: string
          example: 88099f020c
          description: Reference number
        profileCode:
          type: string
          example: ON1234
          description: Profile code
        organizations:
          description: Organization assignments
          type: array
          items:
            $ref: '#/components/schemas/OrganizationAssignmentDto'
        profileType:
          type: string
          example: ADVISOR
          description: Profile type
          enum:
            - AGENT
            - ADVISOR
            - LIA
            - SERVICE
            - INTERNAL
            - ADVISOR_UNLICENSED
          readOnly: true
        employmentType:
          type: string
          example: REGULAR
          description: Employment type
          enum:
            - LIA
            - REGULAR
            - INDCONTRACTOR
            - NOT_APPLICABLE
            - CONTRACTOR
          default: REGULAR
        phone:
          type: string
          example: '4165550123'
          description: Phone number
        title:
          type: string
          example: Independent Contractor
          enum:
            - Owner/President
            - Manager/Regional Manager
            - Accounting Contact
            - Travel Agent
            - Travel Agent Lite
            - Independent Contractor
            - Not Applicable
          description: Title
        additionalEmailRecipients:
          example:
            - cc1@example.com
            - cc2@example.com
          description: Additional email recipients for welcome email
          type: array
          items:
            type: string
        createdBy:
          type: string
          example: cheminh_ciam
          description: Created by user
      required:
        - profileRef
        - role
        - status
        - firstName
        - lastName
        - language
        - city
        - province
        - country
        - email
        - salesChannel
        - authType
        - authID
        - apID
        - sellerCode
        - createdAt
        - addressLine1
        - postalCode
        - agencyLicenseAllowList
        - referenceNumber
        - profileCode
        - organizations
        - profileType
        - employmentType
        - phone
        - title
        - createdBy
    LicenseCreateDetailDto:
      type: object
      properties:
        id:
          type: number
          example: 123
        licensedProvince:
          type: object
          example: 'ON'
        legalName:
          type: string
          example: Legal1
        licenseNumber:
          type: string
          example: ON989233
        status:
          type: object
          example: AUTHORIZED
        screeningStatus:
          type: object
          example: APPROVED
        effectiveDate:
          format: date-time
          type: string
          example: '2022-08-01T00:00:00.000Z'
        expiredDate:
          format: date-time
          type: string
          example: '2022-02-01T00:00:00.000Z'
        screeningEffectiveDate:
          format: date-time
          type: string
          example: '2022-04-01T00:00:00.000Z'
      required:
        - id
        - licensedProvince
        - legalName
        - licenseNumber
        - status
        - screeningStatus
        - effectiveDate
        - expiredDate
        - screeningEffectiveDate
    LicenseCreatePayloadDto:
      type: object
      properties:
        profileRef:
          type: string
          example: profile_ref
        license:
          description: Licenses
          allOf:
            - $ref: '#/components/schemas/LicenseCreateDetailDto'
      required:
        - profileRef
        - license
    LicenseSearchPayloadDto:
      type: object
      properties:
        organizationName:
          type: string
          example: Org1
        branchCode:
          type: string
          example: Branch1
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        profileCode:
          type: string
          example: profileCode
        id:
          type: number
        licensedProvince:
          type: object
          example: 'ON'
        legalName:
          type: string
          example: Legal1
        licenseNumber:
          type: string
          example: ON989233
        status:
          type: object
          example: AUTHORIZED
        isDeleted:
          type: boolean
          example: false
          default: false
        screeningStatus:
          type: object
          example: APPROVED
        expiredDateStart:
          type: string
          example: '2022-01-01T00:00:00.000Z'
        expiredDateEnd:
          type: string
          example: '2026-01-01T00:00:00.000Z'
    LicenseResponseDto:
      type: object
      properties:
        organizationName:
          type: string
          example: Org1
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        profileRef:
          type: string
          example: profileRef
        licensedProvince:
          type: object
          example: 'ON'
        licenseNumber:
          type: string
          example: ON989233
        status:
          type: object
          example: AUTHORIZED
        effectiveDate:
          format: date-time
          type: string
          example: '2022-06-01T00:00:00.000Z'
        expiredDate:
          format: date-time
          type: string
          example: '2023-01-01T00:00:00.000Z'
        licenseType:
          type: object
          example: AGENT
        BDM:
          type: string
          example: Business
        affiliationCode:
          type: string
          example: affiliationCode
        licensingEmail:
          type: string
          example: test_me@manulife.ca
        name:
          type: string
          example: firstName lastName
    LicenseSearchResponseDto:
      type: object
      properties:
        totalCount:
          type: number
          example: 100
        licenses:
          description: Licenses
          type: array
          items:
            $ref: '#/components/schemas/LicenseResponseDto'
      required:
        - totalCount
        - licenses
    UpdateProfilePayloadDto:
      type: object
      properties:
        profileRef:
          type: string
          example: jdoe123
          description: Profile Ref
        role:
          type: string
          example: Test_role
          description: Role
        status:
          type: string
          example: NEW
          description: Status
          enum:
            - NEW
            - ACTIVE
            - INACTIVE
        firstName:
          type: string
          example: John
          description: First Name
        lastName:
          type: string
          example: Doe
          description: Last Name
        language:
          type: string
          example: EN
          description: Language
          enum:
            - EN
            - FR
        city:
          type: string
          example: Toronto
          description: City
        province:
          type: string
          example: 'ON'
          description: Province
          enum:
            - 'ON'
            - QC
            - NS
            - NB
            - MB
            - BC
            - PE
            - SK
            - AB
            - NL
            - YT
            - NT
            - NU
        country:
          type: string
          example: CA
          description: Country
          enum:
            - CA
        email:
          type: string
          example: john_doe@manulife.ca
          description: Email
        salesChannel:
          type: string
          example: B2B
          description: Sales Channel
          enum:
            - B2B
            - B2C
            - B2B_API
            - B2C_API
        authType:
          type: string
          example: CIAM
          enum:
            - CIAM
            - APIGEE
            - LANID
            - SYSTEM
            - APIM
            - null
            - 'NULL'
          description: Authentication Type
        authID:
          type: string
          example: jdoe
          description: Authentication ID
        apID:
          type: string
          example: AP11223
          description: Advisor Portal ID
        sellerCode:
          type: string
          example: TC01
          description: Seller Code
        createdAt:
          format: date-time
          type: string
          example: '2024-01-01T00:00:00.000Z'
          description: Created At
        addressLine1:
          type: string
          example: 123 Main Street
          description: Address line 1
        addressLine2:
          type: string
          example: Suite 456
          description: Address line 2
        postalCode:
          type: string
          example: 1W1 2W2
          description: Postal Code
        agencyLicenseAllowList:
          example: '[]'
          description: Agency License Allow List
          type: array
          items:
            type: string
        profileType:
          type: string
          example: ADMIN
          description: Profile Type
          enum:
            - AGENT
            - ADVISOR
            - LIA
            - SERVICE
            - INTERNAL
            - ADVISOR_UNLICENSED
        employmentType:
          type: string
          example: FULL_TIME
          description: Employment Type
          enum:
            - LIA
            - REGULAR
            - INDCONTRACTOR
            - NOT_APPLICABLE
            - CONTRACTOR
        organizations:
          description: Organizations
          type: array
          items:
            type: string
        phone:
          type: string
          example: 905-222-3333
          description: Phone Number
        commission:
          type: object
          example: '{}'
          description: Commission
        licenses:
          example: '[{}]'
          description: Licenses
          type: array
          items:
            type: string
        updatedBy:
          type: string
          example: John Doe
          description: Updated By
        profileCode:
          type: string
          example: jdoe
          description: Profile Code
        title:
          type: string
          example: Independent Contractor
          enum:
            - Owner/President
            - Manager/Regional Manager
            - Accounting Contact
            - Travel Agent
            - Travel Agent Lite
            - Independent Contractor
            - Not Applicable
          description: Title
        legalEntity:
          type: object
          example: '{}'
          description: Legal Profile Entity
        updatedAt:
          format: date-time
          type: string
          example: '2022-01-01T00:00:00.000Z'
          description: Updated At
      required:
        - profileRef
        - role
        - status
        - firstName
        - lastName
        - language
        - city
        - province
        - country
        - email
        - salesChannel
        - authType
        - authID
        - apID
        - sellerCode
        - createdAt
        - addressLine1
        - postalCode
        - agencyLicenseAllowList
        - profileType
        - employmentType
        - organizations
        - phone
        - commission
        - licenses
        - updatedBy
        - title
        - legalEntity
        - updatedAt
    UpdateProfileDto:
      type: object
      properties:
        firstName:
          type: string
          example: abc
          description: First Name
        lastName:
          type: string
          example: xyz
          description: Last Name
        phone:
          type: string
          example: '5668999900'
          description: Phone Number
        authID:
          type: string
          example: 88d3c9d3-c6a4-44c1-8a07-b478aaa68628
          description: authID
        addressLine1:
          type: string
          example: '208'
          description: Address1
        addressLine2:
          type: string
          example: Street
          description: Address2
        city:
          type: string
          example: Toronto
          description: City
        postalCode:
          type: string
          example: M6J 7H8
          description: PostalCode
        province:
          type: string
          example: 'ON'
          description: Province
      required:
        - firstName
        - lastName
        - phone
        - authID
        - addressLine1
        - addressLine2
        - city
        - postalCode
        - province
    ActivateProfileDto:
      type: object
      properties:
        email:
          type: string
          example: john_doe@manulife.ca
          description: Email
        referenceNumber:
          type: string
          example: xyz11234
          description: Reference Number
        apId:
          type: string
          example: doejohn
          description: Email
        ciamId:
          type: string
          example: 88d3c9d3-c6a4-44c1-8a07-b478aaa68628
          description: Email
      required:
        - email
        - referenceNumber
        - apId
        - ciamId
    UpdateLicenseDto:
      type: object
      properties:
        licenseNumber:
          type: string
          example: ON-56677
        legalName:
          type: string
          example: Abcd
        effectiveDate:
          format: date-time
          type: string
          example: '2025-12-18T01:16:33.203Z'
        expiredDate:
          format: date-time
          type: string
          example: '2025-12-18T01:16:33.203Z'
        status:
          type: object
          example: AUTHORIZED
        screeningEffectiveDate:
          format: date-time
          type: string
          example: '2025-12-18T01:16:33.203Z'
        screeningStatus:
          type: string
          example: APPROVED
      required:
        - licenseNumber
        - legalName
        - effectiveDate
        - expiredDate
        - status
        - screeningEffectiveDate
        - screeningStatus
    OrganizationLicenseCreatePayloadDto:
      type: object
      properties:
        organizationCode:
          type: string
          example: org_code
        license:
          description: License
          allOf:
            - $ref: '#/components/schemas/LicenseCreateDetailDto'
      required:
        - organizationCode
        - license
    Role:
      type: object
      properties: {}
