openapi: 3.0.3
info:
  title: TripX Recommendation API
  version: 1.0.0
  description: |
    The TripX Recommendation API for generating personalized travel and insurance recommendations.

    ## Authentication

    All API requests require authentication using an API key.
  contact:
    name: TripX API Support
    email: api-support@tripx.com
servers:
  - url: https://tripx-recommendation-api.prd.aks.manulife.ca
    description: UAT Environment
tags:
  - name: Recommendations
    description: Personalized recommendations
security:
  - BearerAuth: []
paths:
  /recommendations:
    get:
      summary: GET /recommendations
      operationId: getRecommendations
      tags:
        - Recommendations
      parameters:
        - name: userId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'
      description: Retrieve personalized product recommendations based on user profile and preferences
    post:
      summary: POST /recommendations
      operationId: generateRecommendations
      tags:
        - Recommendations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationRequest'
      responses:
        '200':
          description: Generated recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'
      description: Generate new personalized recommendations based on provided criteria
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    Recommendation:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        title:
          type: string
        score:
          type: number
    RecommendationRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
        preferences:
          type: object
