openapi: 3.0.3
info:
  title: TripX Quote API
  version: 1.0.0
  description: |
    The TripX Quote API for generating and managing travel insurance quotes.

    ## Authentication

    All API requests require authentication using an API key.
  contact:
    name: TripX API Support
    email: api-support@tripx.com
servers:
  - url: https://tripx-quote-api.prd.aks.manulife.ca
    description: UAT Environment
tags:
  - name: Quotes
    description: Quote generation and management
security:
  - BearerAuth: []
paths:
  /quotes:
    get:
      summary: GET /quotes
      operationId: listQuotes
      tags:
        - Quotes
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: List of quotes
          content:
            application/json:
              schema:
                type: object
                properties:
                  quotes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quote'
      description: Retrieve a list of all insurance quotes with optional filtering
    post:
      summary: POST /quotes
      operationId: createQuote
      tags:
        - Quotes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
      responses:
        '201':
          description: Quote created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
      description: Generate a new insurance quote based on the provided parameters
  /quotes/{quoteId}:
    get:
      summary: GET /quotes/{quoteId}
      operationId: getQuote
      tags:
        - Quotes
      parameters:
        - name: quoteId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Quote details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
      description: Retrieve detailed information about a specific quote by its ID
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    Quote:
      type: object
      properties:
        id:
          type: string
        quoteNumber:
          type: string
        amount:
          type: number
        currency:
          type: string
    QuoteRequest:
      type: object
      required:
        - productId
      properties:
        productId:
          type: string
